<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- springmvc.xml的约束 -->

    <!-- 配置 spring创建容器时，要扫描的包 -->
    <context:component-scan base-package="demo1" />

    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <!-- 2020-01-26 21:14:07
        value="/WEB-INF/pages/" 加斜杠，表示在项目根目录的 WEB-INF/pages/ 这个路径。而：
        value="WEB-INF/pages/" 不加斜杠，就代表在当前路径去找对应的文件，

        当不加斜杠时：
        (1)如果类前加了一个 @RequestMapping(path) 注解的时候，就相当于多了一层路径，所以报404的错，
        (2)而如果类前没有加 @RequestMapping(path = "/test") 注解，则表示方法的注解都在项目路径下去找，
        -->
        <property name="prefix" value="/WEB-INF/pages/" /> <!-- 注意 value="/WEB-INF/pages/" 斜杠的坑嗷 -->
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 配置spring开启注解mvc的支持 -->
    <mvc:annotation-driven  />
</beans>